@tailwind base;
@tailwind components;
@tailwind utilities;

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #22c55e;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(34, 197, 94, 0.6);
}

.slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #22c55e;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 10px rgba(34, 197, 94, 0.6);
}
